{% extends "base.html" %}

{% block titulo %}
<title>Acerca de mi</title>
{% endblock titulo %}

{% block contenido %}
<h1>Un poco sobre mi...</h1>
<br><br>
<img src="/media/idphoto.jpg" style="max-width: 180px; float:left;"/>
<br>
<h5>
    Mi nombre es Julieta. Soy de Zárate, Provincia de Buenos Aires, Argentina.<br>
    Me encanta leer, viajar y aprender cosas nuevas siempre que pueda.<br>
    La lectura para mi, es poder viajar a distintos mundos sin moverte de tu habitación, y sin dejar de lado tu café.<br>
    Es llenar el alma de historias, sentimientos, y la cabeza de conocimientos.<br>
    Por eso elegí este tema para crear este blog como proyecto para el curso de Python de CoderHouse.<br>
</h5>
{% endblock contenido %}