{% extends "base.html" %}

{% block contenido %}
<h3>Infantil y Juvenil</h3>
<br>
<p>
  <strong>Libro:</strong> {{object.nombre}}
</p>
<p>
  <strong>Género:</strong> {{object.genero}}
</p>
<p>
  <strong>Autor:</strong> {{object.autor}}
</p>
<p>
  <strong>Año de publicación:</strong> {{object.año_publicacion}}
</p>
<p>
  <strong>Sinopsis:</strong> {{object.sinopsis}}
</p>

<br>
<a href="{% url 'infantil-y-juvenil' %}">Volver</a>
{% if user == articulo.creador %}
<a href="{% url 'editar_infantil' object.id %}">Editar</a>
{% endif %}

{% endblock contenido %}