{% extends "base.html" %}

{% block titulo %}
<title>Poesía</title>
{% endblock titulo %}

{% block contenido %}
<h1>
  Poesía
</h1>
<a href="{% url 'poesia' %}">Ver todos</a>
<a href="{% url 'ingresar_libro_poesia' %}">Ingresar libro</a>
<br><br>
<form action="{% url 'buscar_libro_poesia' %}" method="post">
  {% csrf_token %}
  <input type="text" name = "busqueda">
  <input type="submit" value="Buscar por nombre o autor">
</form>
<br>
<h3>Libros:</h3>
{% if libros_poesia %}
<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Autor</th>
      <th></th>
      <th></th>
    </tr>
    {% for libro in libros_poesia %}
    <tr>
      <td>{{libro.nombre}}</td>
      <td>{{libro.autor}}</td>
      <td>
        <form action="{% url 'detalles_poesia' libro.id %}">
          {% csrf_token %}
          <input type="submit" class "btn btn-link" value="Ver más"/>
        </form>
      </td>
      <td>
        {% if user == libro.creador %}
        <form action="{% url 'editar_poesia' libro.id %}">
          {% csrf_token %}
          <input type="submit" class "btn btn-link" value="Editar"/>
        </form>
        {% endif %}
      </td>
      <td>
        {% if user == libro.creador %}
        <form action="{% url 'eliminar_poesia' libro.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class "btn btn-link" value="Eliminar"/>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No hay elementos aún</p>
{% endif %}
{% endblock contenido %}