{% extends "base.html" %}

{% block contenido %}
<h3>{{object.titulo}}</h3>
<br>
<p>
  <strong>{{object.subtitulo}}</strong> 
</p>
<p>
  <strong>Autor:</strong> {{object.autor}}
</p>
<p>
  <strong>Fecha de publicación:</strong> {{object.fecha}}
</p>
<p>
  <img src="{{ articulo.imagen.url }}" style="max-width: 300px;">
</p>
<p>
  {{object.cuerpo}} 
</p>

<br>
<a href="{% url 'articulos' %}">Volver</a>
{% if user == articulo.creador %}
<a href="{% url 'editar_articulo' object.id %}">Editar artículo</a>
{% endif %}

{% endblock contenido %}