{% extends "base.html" %}

{% block titulo %}
<title>Artículos</title>
{% endblock titulo %}

{% block contenido %}
<h1>
  Artículos
</h1>
<a href="{% url 'articulos' %}">Ver todos</a>
<a href="{% url 'nuevo_articulo' %}">Escribir artículo</a>
<br><br>
<form action="{% url 'buscar_articulo' %}" method="post">
  {% csrf_token %}
  <input type="text" name = "busqueda">
  <input type="submit" value="Buscar">
</form>
<br>
{% if articulos %}
<table class="table">
  <tbody>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
    </tr>
    {% for articulo in articulos %}
    <tr>
      <td><strong>{{articulo.titulo}}</strong><br>{{articulo.subtitulo}}</td>
      <td>{{articulo.autor}}</td>
      <td>{{articulo.fecha}}</td>
      <td>
        <form action="{% url 'detalle_articulo' articulo.id %}">
          {% csrf_token %}
          <input type="submit" class "btn btn-link" value="Ver más"/>
        </form>
      </td>
      <td>
        {% if user == articulo.creador %}
        <form action="{% url 'editar_articulo' articulo.id %}">
          {% csrf_token %}
          <input type="submit" class "btn btn-link" value="Editar"/>
        </form>
        {% endif %}
      </td>
      <td>
        {% if user == articulo.creador %}
        <form action="{% url 'eliminar_articulo' articulo.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class "btn btn-link" value="Eliminar"/>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No hay elementos aún</p>
{% endif %}
{% endblock contenido %}